body{
    background-image: url('https://source.unsplash.com/1900x900?clouds');
}

.card{
    background-color: transparent;
}

.card-container {
    background-color: #2e2e2e9e;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    margin-top: 30px;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

input.form-control.search-text {
    background-color: #0000007d;
    margin: 5px;
    border: none;
    border-radius: 25px !important;
    padding: 10px;
}

button#basic-addon2 {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.form-control:focus{
    box-shadow:none;
}

.form-control::placeholder {
    color: #ffffffbd;
  }



i.fas.fa-search {
    background-color: #0000007d;
    padding: 9px;
    border-radius: 50%;
    color: #ffffffbd;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p.card-text.temp {
    text-align: center;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

p.desc {
    text-align: center;
    margin-bottom: 0px;
}

.Weather-cont{
    text-align: center;
}

p{
    margin-bottom: 0px;

}

.calendar{
    font-size: 15px;
    font-weight: 50;
}

.halign{
    color: rgb(255, 255, 255);
    justify-content: center;
}

.cwhite{
    color: rgb(255, 255, 255);
}

.bgback{
    background-color: #1818189e;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    margin-top: 10px;
}

.titlen{
    background-color: #0000007d;
    margin: 5px;
    border: none;
    border-radius: 25px !important;
    padding: 10px;
    color: white;
}
